@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: rgba(7, 7, 7, 0.87);
  background-color: #faf5f5f5;
}

button {
  border-radius: 8px;
  color: white;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #0c31b6f4;
  cursor: pointer;
  transition: border-color 0.25s;
}